body {
	font-family: "Helvetica Neue",
		Arial,
		"Hiragino Kaku Gothic ProN",
		"Hiragino Sans",
		Meiryo,
		sans-serif;
}

h1 {
	border: 5px solid #000000;
	font-size: 32px;
	font-weight: bold;
	margin: 0 0 20px;
	padding: 15px 20px;
	text-align: center;
}

h2 {
	background: #000000;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	margin: 0 0 20px;
	padding: 10px 20px;
}

h3 {
	border-left: 5px solid #000000;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 20px;
	padding:0 0 0 10px;
}

input.Button {
	list-style: none;
	overflow: hidden;
	width: 140px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 5px;
}

#showID {
	overflow-y: scroll;
	margin: 50px auto 20px;
	padding: 25px;
	width: 300px;
	height: 200px;
	border: 2px solid #ccc;
}

#showIDTable{
  border-collapse:collapse;
}